@import url('https://fonts.googleapis.com/css?family=Oswald:200');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    transition: all .25s ease-in-out;
}
html{
    scroll-behavior: smooth;
}
:root {
    --bgColor: #1A1423; 
    --accentColor: #C73E3E;
    --colorFont: #ffffff;
    --headerFont: 'Oswald', sans-serif;
    --bodyFont: 'Montserrat', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
}

.header{
    background-color:#FABC3C;
}

.navBar, .project h1, .project{
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.navBar {
    text-align: center;
    margin: 0;
    padding:0;
    padding-top: 25px;
}
.navBar li{
    text-decoration: underline;;
    display: inline;
    font-family: var(--bodyFont);
    font-size: 25pt;
    padding: 15px;
    color: var(--colorFont);
    cursor: pointer;
}
.navBar li:hover{
    color:black;
}

#welcomeSpeech{
    text-align: center;
    font-family: var(--headerFont);
    font-size: 50px;
    color: #F19143;
    margin-top:10%;
    padding-bottom: 15%;
}
.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #F19143;    }
    50%{    color: transparent; }
    100%{   color: #F19143;    }
}


.projectBanner{
    margin-top:-50px;
    position: relative;
    background-color: #A5AE9E;
} 
.projects{
    margin: 10% 20%;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    column-gap: 100px;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.project{
    width:300px;
    height:300px;
    margin: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
.projectTitle{
    text-align: center;
    font-family: var(--headerFont);
    text-decoration: underline;
    color:var(--accentColor);
    font-size: 25pt;
}

.project h1{
    text-align: center;
    position: absolute;
    font-family: var(--headerFont);
    color:white;
    width:100%;
    bottom:0;
    margin:0;
    background-color: var(--bgColor);
}
.desc{
    display:none;
    position: absolute;
    left:0;
    top:-20px;
    font-family: var(--bodyFont);
    font-size: 20pt;
    color:black;
}
.skill{
    display:none;
    position: absolute;
    left:0;
    top:-20px;
    font-family: var(--bodyFont);
    font-size: 20pt;
    color:black;
}
.project img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.project:hover > img{
    opacity: .25;
}
.project:hover > p{
    display:initial;
}
.viewCode{
    text-align: center;
    font-family: var(--bodyFont);
    margin:0;
    font-size: 12pt;
}

.aboutBanner{
    margin-top:-50px;
    position: relative;
    background-color: #A5AE9E;
    width: 100%;
}
.about{
    margin: 5% 0;
}
.about p {
    font-family: var(--bodyFont);
    margin: 10px 20%;
    line-height: 40pt;
    font-size: 20pt;
}
.about span{
    font-family: var(--headerFont);
    font-size: 40pt;
    margin-left: 20%;
}
.about ul{
    font-family: var(--headerFont);
    margin: 0 40%;
    width: 20%;
    font-size: 18pt;
}

.contactBanner{
    position: relative;
    background-color: #73648A;
}
#contactForm{
    margin: 5% 30%;
}

#contactForm label{
    font-size: 20pt;
    font-family: var(--headerFont);
    color: var(--accentColor);
    font-weight: normal;
}
.textInput{
    width: 100%;
    height:50px;
    font-size: 25px;
}
#submit{
    width:40%;
    margin: 0 30%;
    height:75px;
    font-size: 25px;
    border: none;
    background-color:#FABC3C;
    color:white;
    cursor: pointer;
}
#submit:hover{
    background-color: var(--bgColor);
    border-radius: 10px;
}
textarea{
    width:100%;
    height:200px;
    font-size: 25px;
    margin-bottom: 50px;
}

.footer{
    background-color: var(--bgColor); 
    text-align: center;
    padding: 25px;
}
.footer p{
    color:white;
    margin:0;
    font-family: var(--bodyFont);
}
.icon{
    width:30px;
    height:30px;
    cursor: pointer;
}
.icon:hover{
    transform: scale(1.15);
}
.footerBar{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    margin: 0 30%;
}
.footerBar li{
    display:inline;
    padding: 20px;
}

.banner{
    background-color: var(--accentColor);
    color:white;
    font-family: var(--headerFont);
    font-size: 18pt;
    width:100%;
    text-align: center;
    padding: 25px 0;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    background-color: #283845;
    border:none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding:15px;
  }
  
  #scrollToTop:hover {
    border-radius: 10px;
  }

@media screen and (max-width: 1000px) {
    .about{
        margin-bottom: 5%;
    }
    .about span{
        width: 100%;
        text-align: left;
        margin:0 10%;
        padding:0;
    }
    .about p{
        margin: 25px 10%;
    }
    .about ul{
        margin: 0;
        text-align: left;
        left: 0;
        margin-left: 20%;
        width: 50%;
    }
    .about li{
        width: 100%;
    }
    .about .info {
        font-family: var(--bodyFont);
        grid-area: about;
        margin: 0 10%;
        font-size: 15pt;
    }
    .about .subInfo {
        grid-area: sub;
        font-family: var(--bodyFont);
        font-size: 15pt;
        margin:50px 10%;
    }

    .projects{
        grid-template-columns: 100%;
    }
    .project{
        width:100%;
        min-height: 250px;
        margin: 25px 15%;
    }
    #contactForm{
        margin: 5% 15%;
    }
    .navBar li{
        font-size: 15pt;
    }
    .navBar{
        padding:15px 0;
        text-align: center;
    }
    .footerBar{
        padding:0;
        margin:0;
    }
    #scrollToTop{
        bottom: 0px;
    }

}